@import "./animation/right";

.project{
   
    &-img{
        
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        .box{
            border-radius: 50%;
        }

        .img-logo{
            animation:right 4.2s;
            width: 45rem;
            height: 30rem;
            margin: 0 auto; 
        }
    }
}


@media(max-width:750px){
    .project{

        &-img{

            .img-logo{
                animation: none;
                width: 30rem;
                height: 30rem;
            }
        }
    }
}