@import "./variable";
@import "./animation/right";


.skill-container{
    
    
    .img-skill{
        
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       

        .img{
            animation:right 4.2s;
            width:45rem;
            height: 40rem;
            margin:0 auto;
        }
    }

    .skill-outer{
    margin-top: 5rem;
    margin-bottom: 10rem;
      }
    .skill{
        
        max-width: 900px;
        margin: 0 auto;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding:2rem 6rem;
        box-sizing: border-box;
        
    

        &-left{
            box-sizing: border-box;
            width: 40%;
            h1{
                color:$nav-link;
                letter-spacing: -4px;

            }
            p{
                font-size:2.2rem;
                line-height: 3.5rem;
                font-weight: 300;
            }
        }

        &-right{
            margin-left: 4rem;
            .img{
                width: 38rem;
                height: 38rem;
                
            }
        }

        
    }
       
}

.float-right{
   
    text-align: right;
}


.float-left{

    text-align: left;
}
#reverse{
    display: flex;
    flex-direction: row-reverse ;
}


@media(max-width:770px){
    .skill-container{
        
        .img-skill{
            height: 70vh;
            margin-top: 2rem;
            .img{
                width: 50rem;
                height: 50rem;
            }
        }

        .skill{
            flex-direction: column-reverse;
            max-width: 600px;
            &-left{
                
                width: 100%;
                h1{
                    text-align: center;
                    font-size: 4.5rem;
                    letter-spacing: 0.2rem;
                }
                p{
                    text-align: left;
                    font-size: 2rem;
                }   

            }

            &-right{
                margin-left: 0;
                
                display: flex;
                justify-content: center;
                align-items: center;
                
                .img{
                    width: 25rem;
                    height: 25rem;
                    
                }
               
            }
        }
    }

    .float-right{
        text-align: none;
    }

   #reverse{
       flex-direction: column-reverse;
   }
   

}